<div class="apod">

  <div class="apod-main">

    <div class="loading" ng-hide="apodLoaded">
      <span>LOADING...</span>
    </div>
    <div class="photo-container" ng-show="apodLoaded">
      <div class="request-by-date">
        <div>
          <form>
            <input placeholder="year (YYYY)" ng-model="yyyy" />
            <input placeholder="month (MM)" ng-model="mm"/>
            <input placeholder="day (DD)" ng-model="dd" />

            <button ng-click="getApodByDate(yyyy, mm, dd)">Get APOD by date</button>
          </form>
        </div>
        <div>
          <button class="current-apod" ng-click="getCurrentApod()" ng-init="getCurrentApod()">TODAY'S APOD</button>
        </div>
      </div>
      <img ng-src="{{currentApod.url}}" />
    </div>
    <div class="info-container">
      <div class="title">
        <p>{{currentApod.title}}</p>
      </div>
      <div class="copyright-and-date">
        <div class="date">
          <p>{{currentApod.date}}</p>
        </div>
        <div class="copyright">
          <p>{{currentApod.copyright}}</p>
        </div>
      </div>
      <div class="description">
        {{currentApod.explanation}}
      </div>
    </div>
    <div class="retrieve-apod">
      <div class="button">
      </div>
    </div>
  
  </div>

</div>