<div class="masthead" ng-init="setBgImage()" ng-style="bgUrl">
  
  <div class="masthead-top">
    <span></span>
  </div>

  <div class="masthead-middle">
    <span>SKYdash</span>
  </div>

  <div class="masthead-bottom">

    <div class="masthead-bottom-left">
      <live-clock format="12"></live-clock>
    </div>

    <div class="masthead-bottom-middle loading" ng-hide="weatherLoaded">
      <span>LOADING...</span>
    </div>
    <div class="masthead-bottom-middle" ng-show="weatherLoaded">
      <span>
        Local sky-viewing conditions: <br />
      </span>
      <span class="sky-view">
        {{skyView}} <br />
      </span>
      <span>
        Cloud cover: {{cloudCover}}% | Visibility: {{visibility}} mi
      </span>
    </div>

    <div class="masthead-bottom-right loading" ng-hide="weatherLoaded">
      <span>LOADING...</span>
    </div>
    <div class="masthead-bottom-right" ng-show="weatherLoaded">
      <div style="padding-right: 10px; border-right: 1px solid #FFFFFF">
      <span>Sunrise: <br /> <span class="sun-time">{{ sunrise | date:'hh:mm a'}}</span></span>
      </div>

      <div style="padding-left: 10px;">
      <span>Sunset: <br /> <span class="sun-time">{{ sunset | date:'hh:mm a'}}</span></span>
      </div>
    </div>

  </div>

</div>

<div id="about" class="about">
  <div class="about-header">
    <div>
      <h1>About</h1>
    </div>
  </div>
  <div class="about-body" id="about">
    <p>SKYdash is your dashboard for viewing the stars</p>
    <p>It's a simple web app designed to give you access to data available through a variety of NASA's public APIs. It's built using AngularJS 1.x.</p>
  </div>
</div>
