

<div class="flex-row neo">

  <div class="flex-col neo-sidebar">
    <div class="flex-col button-box">
      <div class="data-fetch-header">
        <span>Choose date range:</span>
      </div>
      <div class="flex-col button-container" ng-repeat="day in weekArray">
        <button ng-click="getNeoData(day.startDate.apiFormat, day.endDate.apiFormat); resetToggleButtons(); (day.active = !day.active); toggleViewDisplay(day.startDate.displayFormat)" ng-class="{'active' : day.active}">
          <div class="button-text">
            <div>{{day.startDate.displayFormat}}</div>
            <div style="position:absolute;">
              <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
            </div>
            <div>{{day.endDate.displayFormat}}</div>
          </div>
        </button>
      </div>
        <div class="data-vis-container">
          <div class="data-vis-header">
            <span>Choose visualization parameters:</span>
          </div>
          <div class="radio-container">
            <div>
              <label class="radio-input-label">Circle size:</label>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="radiusSelector" value="estDiameterKm" ng-model="radiusSelector">
                            Estimated object diameter 
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="radiusSelector" value="missDistanceKm" ng-model="radiusSelector">
                            Closest approach
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="radiusSelector" value="relVelocityKph" ng-model="radiusSelector">
                            Relative velocity
                        </label>
                    </div>
                </div>
            </div>
            <div>
              <label class="radio-input-label">Circle color:</label>
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="colorSelector" value="missDistanceKm" ng-model="colorSelector">
                            Closest approach
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="colorSelector" value="relVelocityKph" ng-model="colorSelector">
                            Relative velocity
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="colorSelector" value="estDiameterKm" ng-model="colorSelector">
                            Estimated object diameter 
                        </label>
                    </div>
                </div>
            </div>
          <div>
            <span class="hazard-button-title">Potentially hazardous NEOs</span>
              <div class="hazard-button">
                 <button ng-click="showHazard()"> {{showHazardText}} </button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="flex-row neo-main">
    <div class="flex-col chart-titles">
      <div class="main-title">
        <div class="main-title" ng-show="viewControlObject.showMainTitleDate">
          <div class="big">Asteroids and NEOs</div>
          <div class="small">approaching Earth during the week beginning</div>
          <div class="big">{{viewControlObject.mainTitleDate}}</div>
        </div>
      </div>
      <div class="hazardous-notes" ng-show="showHazardText !== 'Show'">
        <div class="hazardous-notes-title">
          <span>Potentially Hazardous <br />Asteroids (PHAs)</span>
        </div>
        <div>
          <p>NASA designates objects as PHAs when they will pass within 0.05 AU (roughly 7,480,000 km or 4,650,000 mi) and are larger than 150 m in diameter.</p>
          <p>There are currently 1767 known PHAs.</p>
          <p>This does not mean a PHA will impact the Earth. It only means there is a slight possibility for such a threat. By monitoring PHAs and updating their data NASA can better predict the close-approach statistics and thus their Earth-impact threat.</p>
        </div>
      </div>
    </div>


    <bubble-chart data="data" radius-selector="radiusSelector" color-selector="colorSelector" class="flex-col bubble-chart">
    </bubble-chart>

    <div class="flex-col right-info-bar">
      <div>
        <div class="flex-col color-legend">
          <div class="color-legend-title">
            <span>{{stats[colorSelector].label}}</span>
          </div>
          <div class="color-legend-scale">
            <img src="./images/color-legend.png" width="180px" height="auto" />
          </div>
          <div class="flex-row legend-labels">
            <div>
              <span>{{(colorSelector === 'missDistanceKm') ? stats[colorSelector].max : stats[colorSelector].min}}</span>
            </div>
            <div>
              <span>{{(colorSelector === 'missDistanceKm') ? stats[colorSelector].min : stats[colorSelector].max}}</span>
            </div>
          </div>
        </div>

        <div class="flex-col size-legend">
          <div class="size-legend-title">
            {{stats[radiusSelector].label}}
          </div>
          <div class="flex-row size-legend-icons">
            <div>
              <i class="fa fa-circle-o" aria-hidden="true" style="font-size:18px;"></i>
            </div>
            <div>
              <i class="fa fa-long-arrow-right" style="font-size: 18px; transform: scale(4, 1); padding-left: 2px;"></i>
            </div>
            <div>
              <i class="fa fa-circle-o" aria-hidden="true" style="font-size:48px; "></i>
            </div>
          </div>
          <div class="flex-row legend-labels size-legend-labels">
            <div>
              <span>{{stats[radiusSelector].min}}</span>
            </div>
            <div>
              <span style="padding-right: 5px;">{{stats[radiusSelector].max}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-col statistics">
        <div class="statistics-title">
          <span>Weekly Statistics</span>
        </div>
        <div class="statistics-total">
          <span class="total-value">Total Objects: {{data.children.length}}</span>
        </div>
        <div>
          <span>{{stats.estDiameterKm.label}}</span>
          <div class="flex-row value-row">
            <div class="flex-col value-column">
              <div>
                <span>Max</span>
              </div>
              <div>
                <span>{{stats.estDiameterKm.max}}</span>
              </div>
            </div>
            <div>
              <div>
                Min
              </div>
              <div>
                <span>{{stats.estDiameterKm.min}}</span>
              </div>
            </div>
            <div>
              <div>
                Mean
              </div>
              <div>
                <span>{{stats.estDiameterKm.mean}}</span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <span>{{stats.relVelocityKph.label}}</span>
          <div class="flex-row value-row">
            <div class="flex-col value-column">
              <div>
                <span>Max</span>
              </div>
              <div>
                <span>{{stats.relVelocityKph.max}}</span>
              </div>
            </div>
            <div>
              <div>
                Min
              </div>
              <div>
                <span>{{stats.relVelocityKph.min}}</span>
              </div>
            </div>
            <div>
              <div>
                Mean
              </div>
              <div>
                <span>{{stats.relVelocityKph.mean}}</span>
              </div>
            </div>
          </div>
        </div>
<div>
          <span>{{stats.missDistanceKm.label}}</span>
          <div class="flex-row value-row">
            <div class="flex-col value-column">
              <div>
                <span>Max</span>
              </div>
              <div>
                <span>{{stats.missDistanceKm.max}}</span>
              </div>
            </div>
            <div>
              <div>
                Min
              </div>
              <div>
                <span>{{stats.missDistanceKm.min}}</span>
              </div>
            </div>
            <div>
              <div>
                Mean
              </div>
              <div>
                <span>{{stats.missDistanceKm.mean}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>


</div>
  </div>


</div>