

<div class="flex-row neo">

  <div class="flex-col neo-sidebar">
    <div class="flex-col button-box">
      <div class="data-fetch-header">
        <span>Choose date range to display:</span>
      </div>
      <div class="flex-col button-container" ng-repeat="day in weekArray">
        <button ng-click="getNeoData(day.startDate.apiFormat, day.endDate.apiFormat); resetToggleButtons(); (day.active = !day.active); toggleViewDisplay(day.startDate.displayFormat)" ng-class="{'active' : day.active}">
          <span class="button-text">{{day.startDate.displayFormat}}</span> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> <span class="button-text">{{day.endDate.displayFormat}}</span>
        </button>
      </div>
      <div class="data-vis-header">
        <span>Choose visualization parameters:</span>
      </div>
      <div class="radio-container">
        <div>
          <label>Circle size:</label>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="radiusSelector" value="estDiameterKm" ng-model="radiusSelector">
                        Estimated object diameter 
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="radiusSelector" value="missDistanceKm" ng-model="radiusSelector">
                        Closest approach
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="radiusSelector" value="relVelocityKph" ng-model="radiusSelector">
                        Relative velocity
                    </label>
                </div>
            </div>
        </div>
        <div>
          <label>Circle color:</label>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" name="colorSelector" value="missDistanceKm" ng-model="colorSelector">
                        Closest approach
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="colorSelector" value="relVelocityKph" ng-model="colorSelector">
                        Relative velocity
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="colorSelector" value="estDiameterKm" ng-model="colorSelector">
                        Estimated object diameter 
                    </label>
                </div>
            </div>
        </div>
        <div>
          <label>Identify hazardous objects:</label>
            
          <div class="form-group">
              <label class="checkbox-inline radio">
                  <input type="checkbox" name="favoriteColors" ng-click="showHazard()"> Highlight red
              </label>
          </div>
           
        </div>
      </div>
    </div>
  </div>
  <div class="flex-col neo-main">
    <div class="flex-row chart-titles">
      <div class="main-title">
        <div ng-show="viewControlObject.showMainTitleDate">
          <span class="big">Asteroids and NEOs</span><span class="small"> <br />approaching Earth during the week <br /> beginning </span><span class="big">{{viewControlObject.mainTitleDate}}</span>
        </div>
      </div>
      <div class="flex-col">
        <div>
          <img src="./images/color-legend.png" width="150px" height="auto" />
        </div>
        <div class="flex-row legend-labels">
          <div>
            <span>Low</span>
          </div>
          <div>
            <span>High</span>
          </div>
        </div>
      </div>
    </div>
    <bubble-chart data="data" radius-selector="radiusSelector" color-selector="colorSelector" class="flex-col bubble-chart"></bubble-chart>
  </div>


</div>