/* apod view styling */

.apod {
  padding-top: 20px;
  min-height: calc(100vh - 68px);
  display: flex;
    flex-direction: column;
    align-items: center;
  background-color: #444444;
 
}

.request-by-date {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.apod-main {
  height: 100%;
  width: 95%;

  font-family: 'Droid Serif', serif;
    font-size: 16px;
    line-height: 22px;
    color: #CCCCCC;

  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apod-main .photo-container {
  width: 60%;
  height: 100%;

  display: flex;
    flex-direction: column;
}

.apod-main .photo-container img {
  width: 100%;
  border: 3px solid #AAAAAA;
}

.apod-main .info-container {
  width: 30%;
  height: 100%;

  display: flex;
    flex-direction: column;
}

.apod-main .title {
  font-family: 'Cabin', sans-serif;
    font-size: 40px;
    line-height: 44px;
}

.apod-main .copyright-and-date {
  margin: 15px 0px;
  text-transform: uppercase;

  display: flex;
  justify-content: flex-start;

}

.copyright-and-date .date {
  margin-right: 20px;
}

.apod-main .description {
  margin-top: 0px;
}

.apod-main .retrieve-apod {

}