/* apod view styling */

.apod {
  min-width: 1200px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
    flex-direction: column;
    align-items: center;

  background-color: #444444;
  padding: 150px 0px 100px 0px;
}

.request-by-date {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.apod-main {
  height: 100%;
  width: 90%;

  font-family: 'Droid Serif', serif;
    font-size: 18px;
    line-height: 26px;
    color: #CCCCCC;

  display: flex;
    justify-content: space-between;
}

.apod-main .photo-container {
  width: 60%;
  height: 100%;

  display: flex;
    flex-direction: column;
}

.apod-main .photo-container img {
  width: 100%;
  height: auto;
  border: 3px solid #AAAAAA;
}

.apod-main .info-container {
  width: 30%;
  height: 100%;

  display: flex;
    flex-direction: column;
}

.apod-main .title {
  font-family: 'Cabin', sans-serif;
    font-size: 40px;
    line-height: 44px;
}

.apod-main .copyright-and-date {
  margin-top: 15px;
  text-transform: uppercase;

  display: flex;
    justify-content: space-between;
}

.apod-main .description {
  margin-top: 50px;
}

.apod-main .retrieve-apod {

}