input {
  padding: 3px;
  text-align: center;
  background-color: #666666;
  border: 1px solid #888888;
    border-radius: 2px;
  font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size:12px;
    color: #CCCCCC;
}

input:focus {
  background-color: #777777;
  border: 1px solid #999999;
  color: #FFFFFF;
}

button {
  text-align: center;
  background-color: #777777;
  border: 1px solid #999999;
  border-radius: 2px;
  font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size:12px;
    color: #CCCCCC;
}

button:focus {outline:0;}

button:hover {
  background-color: #888888;
  border: 1px solid #AAAAAA;
  color: #EEEEEE;
}

button.active {
  opacity: 0.5;
  background-color: #444444;
  border: 1px solid #AAAAAA;
  color: #FFFFFF;
}

.auto-loop-button button {
  text-transform: uppercase;
  color: #FFFFFF;
}