

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}


.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header {
  background-image: linear-gradient(to right top, #8e5aad 0%, #506ebe 100%);
  flex: 1;
}

.menu {
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
    
    box-shadow: 0 0 25px rgba(0, 0, 0, .1), inset 0 0 1px rgba(255, 255, 255, 1);

   div {
    margin: 0px;
   }
}

.menu a {
  padding: 25px 50px 25px 50px;
  font-family: 'Cabin';
    font-weight: 500;
    text-transform:uppercase;
  color: #DFDFDF;
  font-size: 18px;
  text-decoration: none;
  display: block;

}

.menu a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  mask-image: linear-gradient(to right top, #8e5aad 0%, #6478c8 100%);
  color: #FFFFFF;
}

.active-menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  color: #FFFFFF;
}

.well[ui-view]{
 height: 65px; 
}

.ui-view-container {
  position: relative;
}

